.container{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  @include respond-to(tabletAndWider){
    width: 768px;
  }
  @include respond-to(desctop){
    width: 1920px;
  }
  &--header-bottom{
    padding-left: 10px;
    padding-right: 10px;
  }
}
