.footer{
  background-color: #282828;
  &__content{
    @extend %fl-col;
    align-items: center;
  }
  &__info{
    @include respond-to(tabletAndWider){
      order: 1;
      display: flex;
      justify-content: space-between;
    }
  }
  &__author-design,
  &__copyright{
    margin-bottom: 10px;
    text-align: center;
    color: #605f5f;
    font-family: $content-ff;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
  }
  &__copyright{
    @include respond-to(tabletAndWider){
      margin-right: 280px;
    }
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
