.header{
}
.header__upper{
  padding: 10px 0 20px;
}
.header__bottom{
  padding: 132px 0 135px;
  background-image: url("../img/content/header-bg-image_mob.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__logo-toggle{
  display: flex;
  justify-content: space-between;
}
.header__toggle{
  position: relative;
  &-button{
    position: absolute;
    right: 22px;
    width: 32px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: cover;
    &--cross{
      display: none;
      background-image: url("../img/decor/close.png");
    }
    &--hamburger{
      background-image: url("../img/decor/hamburger.png");
    }
  }
}
