.item-feature{
  @extend %fl-col;
  margin-bottom: 35px;
  @include respond-to(tabletAndWider){
    position: relative;
  }
  &--design{
    @include respond-to(tabletAndWider){
      padding-top: 18px;
      margin-left: 400px;
      padding-bottom: 115px;
    }
  }
  &--color{
    padding-bottom: 13px;
    @include respond-to(tabletAndWider){
      padding-top: 50px;
      display: flex;
      flex-direction: row;

    }
  }
  &--indikators{
    padding-bottom: 13px;
    @include respond-to(tabletAndWider){
      padding: 0 1px 0 117px;
    }
  }
  &--modes{
    padding-bottom: 13px;
  }
  &--battery{
    padding-bottom: 13px;
  }
  &--electronics{
    padding-bottom: 13px;
    margin-bottom: 34px;
  }
  &__title{
    padding: 24px 0 26px;
    color: $title-color;
    font-family: $title-ff;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    // Text style for "д, изайн"
    letter-spacing: 1.92px;
    text-transform: uppercase;
    text-align: center;
    &--design{
      order: 1;
      @include respond-to(tabletAndWider){
        padding-left: 47px;
        text-align: left;
      }
    }
    &--color{
      margin-bottom: 0;
      @include respond-to(tabletAndWider){
        position: absolute;
        top: 98px;
        left: 112px;
      }
    }
    &--indikators{
      margin-bottom: 1px;
      padding: 24px 0 24px;
      @include respond-to(tabletAndWider){
        text-align: left;
        padding-top: 37px;
      }
    }
    &--battery{
      order: 0;
    }
  }
  &__text{
    color: $title-color;
    font-family: $content-ff;
    font-size: 16px;
    font-weight: 300;
    &--design{
      order: 1;
    }
    &--color{
      @include respond-to(tabletAndWider){
        align-self: center;
      }
    }
  }
  &__media{
    position: relative;
    &--design{
      order: 2;
      display: none;
      @include respond-to(tabletAndWider){
        position: absolute;
        display: block;
        left: -682px;
        top: -146px;
      }
    }
    &--battery{
      order: 2;
      padding-left: 10px;
    }
  }
  &__variants{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    margin-bottom: 38px;
    @include respond-to(tabletAndWider){
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 40px;
    }
  }
  &__variant{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &--yellow{
      background-color: #e2e837;
    }
    &--blue{
      background-color: #00b6f1;
    }
    &--red{
      background-color: #e23232;
    }
    &--white{
      background-color: #fff;
    }
    &--black{
      background-color: #0c0c0c;
    }
  }
  &__text-description{
    padding: 0 40px 32px 38px;
    line-height: 27px;
    &--color{
      @include respond-to(tabletAndWider){
        //почему не изменятся ширина текстового flex блока?
        padding: 66px 19px 32px 116px;
        width: 180px;
      }
    }
    &--modes{
      padding: 0 40px 19px 41px;
      line-height: 27px;
    }
  }
  &__content-text{
    padding: 0 10px 10px 10px;
    line-height: 25px;
    letter-spacing: 0.1px;
    &--battery{
      letter-spacing: 0.1px;
      line-height: 24px;
    }
    &--electronics{
      padding-left: 20px;
      letter-spacing: 0.2px;
      line-height: 24px;
    }
    &--indikators{
      @include respond-to(tabletAndWider){
        padding-left: 0;
      }
    }
  }
  &__specification-item{
    position: relative;
    padding: 0 40px 20px 79px;
    line-height: 21px;
    &:before{
      position: absolute;
      content: '';
      width: 30px;
      height: 5px;
      left: 41px;
      top: 8px;
      background-color: black;
    }
  }
  &__image{
    &--design{
      padding-left: 10px;
      @include respond-to(tabletAndWider){
        display: block;
      }
    }
    &--color{
      @include respond-to(tabletAndWider){
        position: relative;
        bottom: 18px;
      }
    }
    &--indikators{
      margin-top: 20px;
    }
  }
  &__parameters{
    display: flex;
    justify-content: space-around;
    padding: 23px 31px 0;
    margin-bottom: 47px;
    &--battery{
      padding: 21px 35px 0;
      margin-bottom: -21px;
    }
  }
  &__parameters-wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    &--battery{}
    &--electronics{
      display: flex;
      margin: auto 0;
    }
  }
  &__parameter{
    @extend %fl-col;
    width: 150px;
    &--electronics{
      justify-content: space-between;
    }
  }
  &__parameter-image{
    width: 53%;
  }
  &__parameter-value{
    text-align: center;
    text-transform: lowercase;
    color: $section-title-color;
    font-family: $title-ff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -2.8px;
  }
  &__parameter-unit{
    color: $section-title-color;
    font-family: $title-ff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1.26px;
  }
  &__parameter-name{
    margin-left: 10px;
    font-size: 14px;
    font-family: $content-ff;
    font-weight: 300;
    line-height: 20px;
    &--battery{
      margin-left: 0;
    }
    &--electronics{
      margin-left: 15px;
    }
  }
}
