.look-video{
  display: none;
  position: absolute;
  @include respond-to(tabletAndWider){
    position: absolute;
    display: block;
  }
  &--header-bottom{
    display: none;
    @include respond-to(tabletAndWider){
      display: flex;
      left: 268px;
      top: -146px;
    }
  }
  &--indikators{
    @include respond-to(tabletAndWider){
      display: flex;
      left: 90px;
      top: 418px;
    }
  }
  &--modes{
    @include respond-to(tabletAndWider){
      display: flex;
      left: 268px;
      top: 146px;
    }
  }
  &--design{
    top: 247px;
    left: 398px;
  }
  &--electronics{
    display: block;
    bottom: calc(50% - 30px);
    left: calc(50% - 30px);
  }
  &__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $alter-content-color;
    opacity: 0.8;
    @include respond-to(tabletAndWider){
      width: 100px;
      height: 100px;
    }
    &--center{
      @include respond-to(tabletAndWider){
        width: 100px;
        height: 100px;
      }
    }
  }
  &__button{
    position: absolute;
    padding: 0;
    width: 25px;
    height: 28px;
    margin: 0 auto;
    background-image: url("../img/decor/playback_button.png");
    background-size: 112%;
    background-repeat: no-repeat;
    &--side{
      left: 7px;
      top: -5px;
      @include respond-to(tabletAndWider){
        width: 50px;
        height: 58px;
      }
    }
    &--center{
      @include respond-to(tabletAndWider){
        width: 40px;
        height: 44px;
        top: 29px;
        left: 31px;
        background-size: 112%;
      }
    }
  }
  &__text{
    height: 68px;
    width: 24px;
    transform: rotate(-90deg);
    color: $title-color;
    font-family: $content-ff;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    // Text style for "С, мотреть"
    letter-spacing: 1px;
  }
}
