.nav{
  display: none;
  @include respond-to(tabletAndWider){
    display: flex;
    width: 61%;
    padding-top: 15px;
  }
}
.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
.nav__item{
}
.nav__link{
  display: block;
  color: $title-color;
  font-family: $content-ff;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  // Text style for "П, реимуще"
  letter-spacing: 0.96px;
}
