.page-title{
  &__title{
    margin-bottom: 21px;
    color: $alter-content-color;
    font-family: $title-ff;
    font-size: 30px;
    font-weight: 400;
    // Text style for "R, Izor  ,"
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  &__description{
    color: $alter-content-color;
    font-family: $content-ff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    // Text style for "М, аневрен"
    letter-spacing: 0.96px;
  }
}
