.section-title{
  color: $section-title-color;
  font-family: $content-ff;
  font-size: 14px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  // Text style for "п, реимуще"
  letter-spacing: 1.12px;
}
