.section-title{
  margin-top: 34px;
  color: $section-title-color;
  font-family: $content-ff;
  font-size: 14px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  // Text style for "п, реимуще"
  letter-spacing: 1.12px;
  &--advantages{
    @include respond-to(tabletAndWider){
      margin-top: 81px;
      padding-left: 250px;
    }
  }
}
