$body-color: #fff;
<<<<<<< HEAD:src/scss/variables.scss
$content-color: #838383;
$alter-content-color: #ffffff;
$content-ff: Roboto;
$title-ff: "Rubik Mono One";
$title-color: #000000;
$section-title-color: #3a30f8;
$tablet-width: 768px;
$desctop-width: 1920px;
$fsz-sm14: 1.4rem;
$fsz-sm16: 1.6rem;
$fsz-md18: 1.8rem;
$fsz-md20: 2rem;
$fsz-md21: 2.1rem;
$fsz-md26: 2.6rem;
$fsz-lg30: 3rem;
$fsz-lg40: 4rem;
$fsz-slg50: 5rem;
$lh-sm18: 1.8rem;
$lh-sm24: 2.4rem;
$lh-sm26: 2.6rem;
$lh-sm28: 2.8rem;
$lh-lg30: 3rem;
$lh-lg36: 3.6rem;
$lh-lg40: 4rem;
$lh-slg60: 6rem;
$lh-slg70: 7rem;
=======
$footer-c: rgba(57, 49, 47, 0);
$header_upper-c: rgba(0, 0, 0, 0.35);
$main-yellow-c: rgb(245, 215, 110);
$content-c: rgb(40, 33, 31);
$section-header-c: rgb(40, 33, 31);
$light-content-c: rgb(255, 255, 255);

$ff-PD: "Playfair Display", Arial, sans-serif;
$ff_L: "Lato", Arial, sans-serif;

$fsz14: 1.4rem;
$fsz16: 1.6rem;
$fsz18: 1.8rem;
$fsz20: 2rem;
$fsz21: 2.1rem;
$fsz26: 2.6rem;
$fsz30: 3rem;
$fsz40: 4rem;
$fsz48: 4.8rem;

$lh18: 1.8rem;
$lh24: 2.4rem;
$lh26: 2.6rem;
$lh28: 2.8rem;
$lh30: 3rem;
$lh36: 3.6rem;
$lh40: 4rem;
$lh60: 6rem;
$lh70: 7rem;

$fw500: 500;
$fw700: 700;
$fw900: 900;
>>>>>>> e2966d9000f0efcadec0d6c257e18781dd141633:sass/variables.scss
